# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project-specific
*.log
D:\Alicia\ExoCore_Project\ExoCoreData\ExtensionData\

# pkg
./chatGPT_bridge/tunnel-client-v0.0.11-windows-amd64
# secrets
chatGPT_bridge/.local_chat_brigde.env.txt
